# Development files
.eslintrc.js
/.editorconfig
/.eslintignore
/.gitattributes
/.github
/.travis.yml
/test

# Build created files
/playground

# Coverage created files
/.nyc_output
/coverage

# Exclude already built packages from testing with npm pack
/scratch-sb1-converter-*.{tar,tgz}
